nav{
  padding: 1rem 2.5rem;
  justify-content: space-between;
  box-shadow: 0 0 1rem rgba(0 , 0 , 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  ;
}

.nav-left .menu-icon{
  width: 2.2rem;
  margin-right: 2.5rem;
}
.nav-left .logo{
 width: 13rem;
}
.nav-middle .search-box{
   border: .1rem solid #ccc;
   margin-right: 1.5rem;
   padding: .8rem 1.2rem;
   border-radius: 2.5rem;
}

.nav-middle .search-box input{
  width: 40vw;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 1.6rem;
}

.nav-middle .search-box img{
  width: 1.5rem;
}

.nav-right img{
  width: 2.5rem;
  margin-right: 2.5rem;
}

.nav-right .profile-icon{
  width:3.5rem ;
  border-radius: 50%;
}



@media(max-width:65em){
  .nav-middle .search-box input{
    width: 35vw;
  }
 }

 @media(max-width:45em){
  .nav-middle .search-box input{
    width: 25vw;
  }
 }

 @media(max-width:32em){
  .nav-middle .search-box input{
    width: 20vw;
  }
  nav{
    padding: 1rem 1.5rem;
  }
  .nav-right img {
    width: 2rem;
    margin-right: 1.5rem;
  }
 }

 @media(max-width:30em){
  .nav-middle .search-box input{
    width: 15vw;
  }
 }