.play-container{
  background-color: #f9f9f9;
  padding: 2rem 2%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media(max-width:40em){
  .play-container{
    flex-direction: column;
  }
 }